.cell-item {
  position: relative;
  width: 664rpx;
  height: 112rpx;
  line-height: 112rpx;
  background-color: rgb(224, 219, 219);
  .icon {
    width: 35rpx;
    height: 35rpx;
    vertical-align: middle;
    margin-right: 20rpx;
  }
  text {
    vertical-align: middle;
    font-size: 32rpx;
  }
  .arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 12rpx;
    height: 26rpx;
  }
  .hr {
    position: absolute;
    left: 50rpx;
    bottom: 0;
    width: 750rpx;
    border-top: 1px #eeeeed solid;
  }
}
